[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pytest = "*"
pytest-cov = "*"
pipenv-to-requirements = "*"

[packages]
sanic = "*"
more-itertools = "*"
httpx = "*"
nltk = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
