[Unit]
Description=telewords
After=network.target

[Service]
Type=simple
User=telewords
WorkingDirectory=/home/telewords/telewords
ExecStart=/home/telewords/telewords/.venv/bin/python server.py
Restart=on-failure
RestartSec=5

Environment=TELEGRAM_BOT_TOKEN=${bot_token}
Environment=TELEGRAM_BOT_USERNAME=${bot_username}

[Install]
WantedBy=multi-user.target